* {
    background-color: whitesmoke;
    }
    h1 {
     font-size: x-large;
    }
    .containerme {
        display: inline;
        align-items: center;
        width: 100%;
    }
    .schoolname{
        float: left;
        width:50%;
        padding: 5px;
    }
    .container {
    float: right;
    width:50%;
    padding: 5px;
    text-align: right;
    }
    .container2 {
        display: inline;
        align-items: center;   
        width: 100%;
    }
    .nurturepic {
        float: left;
        width:50%;
        padding: 5px;
        align-items: baseline;
        height: 100%;
    }
    .nurturepic2 {
        float: right;
        width:50%;
        padding: 5px;
        align-items: flex-start;
        height: 100%;
    }
    .container3 {
        display: inline;
        align-items: center;   
    }
    .storypic {
        float: left;
        width:50%;
        padding: 5px; 
        height: 100%;
    }
    .storypic2{
        float: right;
        width:50%;
        padding: 5px;
        height: 100%;
    }
    .ringa {
        font-size: medium
    }
    .container5{
        display: inline;
        align-items: center;
    }
    .boardpic {
        float: left;
        width:50%;
        padding: 5px;
        height: 100%;
    }
    .boardpic2{
        float: right;
        width:50%;
        padding: 5px;
        height: 100%;
    }
    .container8{
        display: inline;
        align-items: center;
    }
    .grad {
        float: left;
        width:50%;
        padding: 5px;  
        height: 100%;
    }
    .grad2 {
        display: inline;
        float: right;
        max-width:100vh;
        padding: 5px;
        height: 100%;
    }
    .mentors {
        float: left;
        padding: 5px; 
        max-width: 100vh; 
        max-height: 100%;
    }
    .container7 {
        float: left;
    width:10%;
        padding: 10px;
        max-width: 50vh;
    }
    .sure {
        display: block;
        float: left;
        width:50%; 
    }
    button.container {
    color: #EC4067;
    }
    .link {
        background-color: #EC4067;
        color: white;
        padding: 5px;
        margin: 2px;
        border-radius: 5px;
    }
    .nurture {
        color: #EC4067;
    }
    .xplore {
        background-color: white;
        color: #EC4067;
        margin: 5px;
        border: 10px;
        border-color: #EC4067;
    }
    p.nurturepic {
    justify-content: center;
    }
    .container9 {
        width:50%;
        padding: 5px;  
    }
    .cotainer91 {
        width:50%;
        padding: 5px;
    }
.container6 {
    display: inline;
    max-width: 25%;
}
#pp {
    display: inline;
    font-size: x-small;
}